@import "../../node_modules/simpledotcss/simple.min.css";
@import "@/styles/mixins.scss";

@mixin theme-light {
  --accent-bg: #f5f7ff;
  --accent: #0d47a1;
  --bg: #fff;
  --border: #d8dae1;
  --code: #d81b60;
  --disabled: #efefef;
  --downvote: #6a5acd;
  --downvote-bg: #f1effa;
  --preformatted: #444;
  --text-light: #585858;
  --text: #212121;
  --upvote: orangered;
  --upvote-bg: #fff0eb;
}

@mixin theme-dark {
  --accent-bg: #2b2b2b;
  --accent: #ffb300;
  --bg: #212121;
  --border: #666;
  --code: #f06292;
  --disabled: #111;
  --downvote: slateblue;
  // --downvote-bg: #251d5e;
  --downvote-bg: #120E2F;
  --preformatted: #ccc;
  --text-light: #ababab;
  --text: #dcdcdc;
  --upvote: orangered;
  // --upvote-bg: #661b00;
  --upvote-bg: #290b00;
}

@mixin misc-variables {
  // I don't love that this isn't a multiple of 0.25rem but simple.css uses this
  // same 5px border-radius for a lot so I'm not going to rock the boat
  --border-radius: 5px;
}

:root {
  color-scheme: light dark;
  @include theme-light;
  @include misc-variables;
  //// Not theme-dependent, and set already by simple.css:
  // --sans-font: -apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,Noto,"Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
  // --mono-font: Consolas,Menlo,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  // --marked: #ffdd33;
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme-light;

    &.light {
      @include theme-light;
    }

    &.dark {
      @include theme-dark;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;

    &.light {
      @include theme-light;
    }

    &.dark {
      @include theme-dark;
    }
  }
}

nav a {
  cursor: pointer;

  //// Disabled anchor tags in pure CSS is just a bad idea and a PitA. You can
  //// make them _look_ disabled, but they're not really disabled unless you add
  //// `pointer-events: none`, and in that case you can't have a handy semantic
  //// cursor like `cursor: not-allowed` on hover. Plus, `pointer-events: none`
  //// doesn't really work correctly with, e.g., screen readers, so you'd need
  //// to add `aria-disabled="true"` and that's not something you can do in pure
  //// CSS. See the following article for a more thorough breakdown:
  //// https://css-tricks.com/how-to-disable-links/
  //
  // &[disabled] {
  //   opacity: 0.5;
  //   cursor: not-allowed;
  //   color: var(--text);
  //   border-color: var(--border);
  // }
}
